@using System.Text.Json
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<E_Smart.Areas.Admin.Models.Product>   // Vì sử dụng thư viên X.PageList phân trang lên phải chuyển đổi 

<div class="row">
	<h2>Product List</h2>
	<div class="col- text-end">

		<a class="btn btn-secondary" asp-action="Create" asp-area="Admin">
			<i class="bi bi-plus-circle"></i>
			Create a new Product
		</a>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Category</th>
				<th>Image</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>

			@foreach (var item in Model)
			{
				<tr>
					<td>@item.ProductId</td>
					<td>@item.Product_name</td>
					<td>@item.Product_price</td>
					<td>@item.Product_quantity</td>
					<td>@item.Category?.Category_name</td>
					<td>
						@if (!string.IsNullOrEmpty(item.Product_imagePaths))
						{
							var imagePaths = JsonSerializer.Deserialize<List<string>>(item.Product_imagePaths);
							foreach (var path in imagePaths)
							{
								<img src="~/@path" alt="Product Image" style="width: 100px; height: auto;" />
							}
						}

					</td>
					<td>
						<a class="btn btn-warning" asp-route-id="@item.ProductId" asp-action="Edit">
							<i class="bi bi-pencil-square"></i>
							Edit
						</a>
						<a class="btn btn-danger" asp-route-id="@item.ProductId" asp-action="Delete">
							<i class="bi bi-trash3"></i>
							Delete
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div class="col-12 text-end">
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
					new PagedListRenderOptions
		{
			// Class cho các thẻ <li> trong pagination
			LiElementClasses = new[] { "page-item" },

			// Class cho các thẻ <a> trong pagination
			PageClasses = new[] { "page-link" },

			// Class cho thẻ <ul> trong pagination
			UlElementClasses = new[] { "pagination", "justify-content-end" },

			// Class cho thẻ <div> bao quanh pagination
			ContainerDivClasses = new[] { "text-center" },

			// Hiển thị liên kết đến trang đầu tiên nếu cần thiết
			DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,

			// Hiển thị liên kết đến trang cuối cùng nếu cần thiết
			DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,

			// Hiển thị liên kết đến trang trước đó nếu cần thiết
			DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,

			// Hiển thị liên kết đến trang tiếp theo nếu cần thiết
			DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,

			// Hiển thị liên kết đến các trang cá nhân
			DisplayLinkToIndividualPages = true,

			// Không hiển thị số lượng trang và vị trí hiện tại
			DisplayPageCountAndCurrentLocation = false,

			// Số lượng tối đa các trang được hiển thị
			MaximumPageNumbersToDisplay = 4
		})
	</div>
</div>